<div class="login-form-welcome">
  <div class="form">
    <div class="header"><h2>Sing Up</h2></div>
    <div class="login">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <ul>
          <li>
            <div class="singup-avatar-preview">

            </div>
            <%= f.file_field :avatar, class: "singup-avatar-input"%>
          </li>
          <li>
            <span class="un"><i class="fa fa-envelope"></i></span><%= f.email_field :email, class: "text", placeholder: "Email"  %>
          </li>
          <li>
            <span class="un"><i class="fa fa-user"></i></span><%= f.text_field :name, class: "text", placeholder: "Name"  %>
          </li>
          <li>
            <span class="un"><i class="fa fa-lock"></i></span><%= f.password_field :password, class: "text", placeholder: "Password", autocomplete: "off" %>
          </li>
          <li>
            <span class="un"><i class="fa fa-lock"></i></span><%= f.password_field :password_confirmation, class: "text", placeholder: "Password Confirmation", autocomplete: "off" %>
          </li>
          <li>
            <%= f.submit "SING UP", class: "btn" %>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="sign">
      <div class="need">Already have an account ?</div>
      <div class="up"><%= link_to "Sign In", new_session_path(resource_name) %></div>
    </div>
  </div>
</div>
