<div class="col-lg-10 col-lg-offset-1 welcome-header">
  <h1 class="col-lg-6 col-lg-offset-1">Listing articles<span style="font-size: 16px;"> - <%= pluralize(Article.count, "Article")%></span></h1>

  <div class="col-lg-3 col-lg-offset-1 text-right new-article-btn">
    <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
    <%= link_to 'New Photo', new_article_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="col-lg-8 blog-articles">
  <% @articles.reverse_each do |article| %>
    <div class="blog-post-preview col-lg-12">
      <h3 style="padding: 0px 11px;"><%= article.title %></h3>
      <div class="blog-post-info col-lg-8">
        <%= image_tag(article.user.avatar.url(:thumb), :class => "user-avatar-thumb") %>
        <%= article.user_name %> |
        <%= article.created_at.strftime(' Posted on %a %d/%b/%y - %H:%M') %>
      </div>
      <div class="blog-post-actions col-lg-4">
        <%= link_to icon('eye'), article_path(article), class: 'hvr-grow' %>
        <%= link_to icon('pencil'), edit_article_path(article), class: 'hvr-grow' %>
        <%= link_to icon('trash'), article_path(article), class: 'hvr-grow',
                                   method: :delete,
                                   data: { confirm: 'Are you sure you want to delete this?', commit: 'DELETE', verify: 'DELETE', verify_text: 'Type "DELETE" to confirm' } %>

      </div>
      <div class="blog-post-text col-lg-12">
          <%= truncate(article.text, :length => 600)%>
      </div>
    </div>
  <% end %>
</div>
