<div class="article_container">
  <h1><%= @article.title %></h1>

  <div class="well">
    <%= @article.text %>
  </div>

  <h2>Comments<span style="font-size: 16px;"> - <%= pluralize( @article.comments.count, 'comment' )%></span></h2>

  <div class="well">
    <%= render @article.comments %>

    <% if @article.comments.count == 0 %>
      <h4 class="text-center">No Comments to show</h4>
    <% end %>
  </div>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to icon('arrow-left'), articles_path, class: "btn btn-default" %>
    <%= link_to icon('pencil'), edit_article_path(@article), class: "btn btn-default" %>
  </div>
</div>
