<header>
  <div class="windows-bar windows-style">
    <div class="menu hide">
        <div class="menu-sidebar">
          <div class="headline">
            <strong>Windows</strong> 98
          </div>
        </div>
        <ul class="menu-content">
          <li class="item folder">
            <%= image_tag("icons/programs.gif", class: "icon") %>
            Programs
            <ul class="menu-content">
              <li class="item windows-app-sm" windows-app-sm="internet">
                <%= image_tag("icons/internet.gif", class: "icon") %>
                Internet Explorer
              </li>
              <li class="item windows-app-sm" windows-app-sm="paint">
                <%= image_tag("icons/paint.gif", class: "icon") %>
                Paint
              </li>
              <li class="item windows-app-sm" windows-app-sm="buscaminas">
                <%= image_tag("icons/kmines.gif", class: "icon") %>
                KMines
              </li>
              <li class="item windows-app-sm virus">
                <%= image_tag("icons/virus.gif", class: "icon") %>
                Not a Virus
              </li>
              <li class="item windows-app-sm" windows-app-sm="fx">
                <%= image_tag("icons/fx.gif", class: "icon") %>
                fx
              </li>
              <li class="item windows-app-sm" windows-app-sm="meme">
                <%= image_tag("icons/meme.gif", class: "icon") %>
                memeGen
              </li>
            </ul>
          </li>
          <li class="item folder">
            <%= image_tag("icons/favourites.gif", class: "icon") %>
            Favorites
            <ul class="menu-content">
              <li class="item">
                <%= image_tag("icons/documents.gif", class: "icon") %>
                Channels
              </li>
              <li class="item">
                <%= image_tag("icons/documents.gif", class: "icon") %>
                Links
              </li>
              <li class="item">
                <%= image_tag("icons/documents.gif", class: "icon") %>
                Software Updates
              </li>
            </ul>
          </li>
          <li class="item folder">
            <%= image_tag("icons/documents.gif", class: "icon") %>
            Documents
            <ul class="menu-content">
              <li class="item">
                <%= image_tag("icons/txt.gif", class: "icon") %>
                Hot grills.txt
              </li>
              <li class="item">
                <%= image_tag("icons/txt.gif", class: "icon") %>
                Passwords.txt
              </li>
            </ul>
          </li>
          <li class="item folder">
            <%= image_tag("icons/settings.gif", class: "icon") %>
            Settings
          </li>
          <li class="item folder">
            <%= image_tag("icons/find.gif", class: "icon") %>
            Find
          </li>
          <li class="item">
            <%= image_tag("icons/help.gif", class: "icon") %>
            Help
          </li>
          <li class="item">
            <%= image_tag("icons/run.gif", class: "icon") %>
            Run...
          </li>
          <li class="divider"></li>
          <% if user_signed_in? %>
            <%= link_to(destroy_user_session_path, :method => :delete) do%>
              <li class="item">
                    <%= image_tag("icons/logoff.gif", class: "icon") %>
                    Log Off Win98...
              </li>
            <% end %>
          <% end %>
          <li class="item">
            <%= image_tag("icons/shutdown.gif", class: "icon") %>
            Shut Down...
          </li>
        </ul>
      </div>
    <div class="windows-bar-button pull-left">
      <button class="windows-bar-inset windows-style windows-btn-pressed">
        <%= image_tag("start.png", class: "icon-chevron-right menu_icon") %>
        <span>Start</span>
      </button>
    </div>
    <div class="windows-bar-space col-lg-10">
      <%= current_user.name %>
    </div>
    <div class="windows-bar-items pull-right">
      <p id="current_timer">12:00PM</p>
    </div>
  </div>
</header>
